<!--Importamos la base-->
{% extends "base.html" %}


<!--Contenido de la página-->
{% block content %}
<img src="{{ url_for('static',filename ='img/soon.jpg')}}"alt="Imagen arriba de la tabla" class="imagen-tabla">

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Peso</th>
      <th>Altura</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for i in name %}
      <td>{{ i }}</td>
    
    {% endfor %}
  </tr>
  </tbody>
</table>




{% endblock %}
